{% extends 'base.html' %}
{% load static %}

{% block title %} About Me {% endblock %}

{% block content %}

    <div class="landing-section bg-overlay">
        <h2 class = "text-center"> 
            Hi There ! <br>
            Welcome to my website
        </h2>

        <div class="button text-center" id = "button-read">
            <a href="{% url 'aboutpage:about' %}#about" id = "btn">
                READ MORE
            </a>

        </div>
    </div>

    <div class="about-section" id = "about">
        <div class="about-container">
            <div class="img-container">
                <img src="/static/images/bg-alwan.png" alt="this-is-me" class="img-alwan">
            </div>

            <div class="desc-container">
                <h2 class="about-header text-center">
                    ABOUT ME
                </h2>

                <p id = "desc">
                    My Name is Alwan. I am currently studying Computer Science at the Faculty of Computer Science at the University of Indonesia. 
                    <br>  <br>
                    I like to learn about new stuff. I also like
                    to socialise with everyone. I prefer working together with a team rather than working alone.    
                </p>
            </div>

        </div>  
    </div>

    <div class="education-section" id = "edu">
        <div class="education-container">
            <div class="edu-box">
                <h2 class = "text-center" > EDUCATIONS </h2>
            </div>

            <div class="content-container">
                
                <div class="content-1">
                    <div class="ui-wrapper">
                        <img src="/static/images/ui-logo.svg" alt="logo-ui" id = 'logo-ui'>
                    </div>

                    <div class="desc-ui">
                        <p> Undergraduate Student of Computer Science
                            <br>
                            Currently in my Second Year of College at the Faculty of Computer Science
                            at the University of Indonesia </p>
                    </div>
                </div>

                <div class="content-2">
                    <div class="sma-wrapper">
                        <img src="/static/images/sma-logo.svg" alt="logo-sman-68" id = 'logo-sman-68'>
                    </div>

                    <div class="desc-sma">
                        <p> Science Studies
                            Graduated from High School where i mostly studied Math, Physics, Biology
                            and Chemistry. <br> Had an interest in programming ever since 10th Grade. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="exp-section" id = "exp">
        <div class="exp-container">
            <div class="exp-box">
                <h2 class="text-center"> EXPERIENCE </h2>
            </div>

            <div class="content-container-2">
                <div class="side-image">
                    <img src="/static/images/side-bar.svg" alt="people-working">
                </div>

                <div class="exp-list">
                    <ul>
                        <li class="exps"> Staff of Academic and Leadership Department at BEM Fasilkom UI <br> <small> 2019 - Now </small> </li>
                        <li class="exps"> Staff of Musholla Prosperity Bureau at FUKI Fasilkom UI <br> <small> 2019 - Now </small> </li>
                        <li class="exps"> Mentor at PMB Fasilkom UI <br> <small> 2019 - Now </small> </li>
                        <li class="exps"> Staff of Innovative App Competition Division at COMPFEST 11 <br> <small> 2019 - Now </small></li>
                        <li class="exps"> Person in Charge of Equipment at PEMIRA IKM Fasilkom UI <br> <small> 2019 - Now </small> </li>
                    </ul>
                </div>
            </div>
                
        </div>
    </div>

    <div class="skills-section" id = "skill">
        <div class="skills-container">
            <div class="skill-box">
                <h2 class = "text-center"> Skills </h2>
        
            </div>

            <div class="circle-wrapper text-right"></div>

            <div class="skill-set d-flex justify-content-around align-items-center">
                <div class="logo-container text-center">
                    <img src="/static/images/java.svg" alt="java-logo" class="skills ">

                    <h5 class = "text-center"> Java  </h5>
                </div>

                <div class="logo-container">
                    <img src="/static/images/python.svg" alt="python-logo" class="skills">

                    <h5 class = "text-center"> Python </h5>
                </div>

                <div class="logo-container">
                    <img src="/static/images/html.svg" alt="html-logo" class="skills">

                    <h5 class = "text-center"> HTML </h5>
                </div>

                <div class="logo-container">
                    <img src="/static/images/css.svg" alt="css-logo" class="skills">

                    <h5 class = "text-center"> CSS </h5>
                </div>
                    
                <div class="logo-container">
                    <img src="/static/images/office.svg" alt="microsoft-office-logo" class="skills">

                    <h5 class = "text-center"> Microsoft Office </h5>
                </div>
            </div>

        
            <div class="circle-wrapper-2"></div>


        </div>
    </div>

    <div class="end-section bg-overlay d-flex flex-column justify-content-around">
        <h2 class = "text-center">
            LEARN MORE ABOUT ME
        </h2>

        <div class="social-container d-flex justify-content-around">
            <div class="ig-logo">
                <a href="https://instagram.com/alha1101/" target= "_blank">
                    <img src="/static/images/ig.svg" alt="ig-logo">
                </a>
            </div>

            <div class="twitter-logo">
                <a href="https://twitter.com/alwan_2" target = "_blank">
                    <img src="/static/images/twitter.svg" alt="twitter-logo">
                </a>
            </div>

            <div class="linked-logo">
                <a href="https://linkedin.com/in/alwan-harrits-363381180" target="_blank">
                    <img src="/static/images/linkedin-logo.svg" alt="linked-in-logo">
                </a>
            </div>

            <div class="fb-logo">
                <a href="https://facebook.com" target="_blank">
                    <img src="/static/images/fb.svg" alt="facebook-logo">
                </a>
            </div>
        </div>

    </div>

{% endblock %}