<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/aboutStyle.css' %}">
        <title> {% block title %} {% endblock %} </title>
    </head>

    <body>
        <div class="page-container">
                
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-right fixed-top" id = "navbar">
                <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
                    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i
                        class="fas fa-bars fa-1x"></i></span>
                </button>
                <div class="collapse navbar-collapse" id = "navbarSupportedContent1">
                    <ul class="navbar-nav ml-auto">
                        <li class="active">  <a href="{% url 'aboutpage:about' %}#about"> About </a> </li>
                        <li > <a href="{% url 'aboutpage:about' %}#edu"> Educations </a> </li>
                        <li > <a href="{% url 'aboutpage:about' %}#exp"> Experience </a> </li>
                        <li > <a href="{% url 'aboutpage:about' %}#skill"> Skills </a> </li>
                        <li > <a href="{% url 'aboutpage:question_page' %}"> F.A.Q </a> </li>
                        <li > <a href="{% url 'schedule:list_schedule' %}"> My Schedule </a> </li>
                    </ul>
                </div>
            </nav>

            {% block content %}
            {% endblock %}

        </div>

        

        <footer class="footer bg-dark">
                <div class="container text-center">
                    <small>Copyright &copy; Alwan Harrits</small>
                </div>                               
            </footer>

    </body>
</html>