{% extends 'base.html' %}
{% load static %}

{% block title %} F.A.Q {% endblock %}

{% block content %}
    <div class="top-wrapper">
        <!-- <img src="assets/top-circle.svg" alt="" class="ellipse"> -->
        <h2 class = "text-center"> F.A.Q </h2>
    </div>

    <div class="question-section">

        <div class="question-container d-flex flex-column justify-content-around">
            <div class="blue-box d-flex justify-content-around" id = "question-1">
                <div class="question">
                    <h2> 1. How Old Are You ? </h2>
                </div>

                <div class="answer">
                    <h4> I Am 18 Years Old </h4>
                </div>
            </div>

            <div class="white-box d-flex justify-content-around" id = "question-2">
                <div class="question">
                    <h2> 2. How Long Have You Been Alive ? </h2>
                </div>

                <div class="answer">
                    <h4> I Have Been Alive For 18 Years </h4>
                </div>
            </div>

            <div class="blue-box">
                <div class="special  d-flex justify-content-around" id = "question-3">
                    <div class="question">
                        <h2> 3. What Is Your Favorite Color ? </h2>
                    </div>
            
                    <div class="answer">
                        <h4> Black </h4>
                    </div>
                </div>
            </div>

            <div class="white-box">
                <div class="special  d-flex justify-content-around" id = "question-4">
                    <div class="question">
                        <h2> 4. What Is The Answer To Life, 
                            <br>
                            Universe, And Everything ? 
                        </h2>
                    </div>
    
                    <div class="answer">
                        <h4> 42 </h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="bot-wrapper">
            <h2>
                ""
            </h2>
        </div>
    </div>


{% endblock %}