html, body {
    margin: 0 auto;
    scroll-behavior: smooth;
    height: 100%;
}

.page-container {
    /* height: 100%; */
}

#navbar ul li {
    color: #f5f5f5;
    margin-right: 50px;
    transition: 0.3s;
    border-style: solid;
    border-color: #353A40;
    border-radius: 10px;
    padding: 5px;
}

#navbar ul li:hover {
    background-color: #42F3E9;
    border-radius: 10px;
    font-size: 20px;
}

.navbar .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
}

#navbar ul li a {
    text-decoration: none;
    color: #f5f5f5;
}

.landing-section {
    height: 799px;
}

.bg-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    max-width: 100%;
    max-height: auto;
    background: linear-gradient(rgba(36, 132, 202, 0.45), rgba(36, 132, 202, 0.45)), url("/static/images/bg-alwan.png");
    background-repeat: no-repeat;
    color: #28F9F9;
    background-size: cover;
    background-position: center;
}

.button {
    font-weight: bold;
    border-style: solid;
    border-radius: 10px;
    border-color: #42F3E9;
    color: #42F3E9;
    transition: 0.3s;
    max-width: 10%;
    margin: 0 auto;
}

#btn {
    text-decoration: none;
    color: inherit;
}

.button:hover {
    background-color: #42F3E9;
    transition: 0.3s;
    color: #004848;
}

.about-section {
    /* padding-bottom: 10px; */
    height: 799px;
    background-color: #55E4ED;
}

.about-container {
    padding-top: 40px;
    /* height: 799px; */
    display: flex;
    position: relative;
}

.img-alwan {
    border-radius: 0px 10px 10px 0px;
    height: 40%;
}

.img-container {
    width: 30%;
}

.desc-container {
    /* display: none; */
    padding-top: 10px;
    font-size: 10px;
}

.education-section {
    /* height: 799px; */
    background-color: #EAF5F5;
}

.education-container {
    /* height: 799px; */
}

.edu-box {
    height: 150px;
    background-color: #55E4ED;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 70px;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* height: 649px; */
}

.content-1 {
    background-color: #53E3E3;
    display: flex;
    justify-content: space-around;
    margin: 50px;
    border-radius: 10px;
    font-size: 24px;
    background: linear-gradient(rgba(83, 227, 227, 0.5), rgba(83, 227, 227, 0.5)), url("https://kampusaja.com/wp-content/uploads/2016/12/4_Profil-kampus-Universitas-Indonesia-Depok.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.content-2 {
    background-color: #53E3E3;
    display: flex;
    justify-content: space-around;
    margin: 50px;
    border-radius: 10px;
    font-size: 24px;
    background: linear-gradient(rgba(83, 227, 227, 0.5), rgba(83, 227, 227, 0.5)), url("https://sman68jkt.sch.id/wp-content/uploads/2018/09/slider-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.exp-section {
    /* height: 799px; */
    background-color: #95E4E9;
}

.exp-container {
    /* height: 799px; */
}

.exp-box {
    background-color: #EAF5F5;
    height: 150px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 70px;
}

.side-image img {
    height: 649px;
}

.content-container-2 {
    display: flex;
}

.exp-list ul {
    list-style: none;
}

.exps::before {
    content: "\2022";
    color: #18474A;
    font-weight: bold;
    width: 100px;
    font-size: 180%;
}

.exps {
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}

.skill-box {
    background-color: #95E4E9;
    height: 150px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 70px;
}

.circle-wrapper {
    background-image: url("/static/images/circle-1.svg");
    background-position: right; 
    background-position-y: -190px;
    height: 150px;
    background-repeat: no-repeat;
}

.circle-wrapper-2 {
    background-image: url("/static/images/circle-2.svg");
    height: 300px;
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: 105px;
    /* background-position: top; */
}


.skills-container {
    background-color: #EAF5F5;
}

.end-section {
    height: 799px;
}

.footer {
    width: 100%;
    color: #f5f5f5;
}

.top-wrapper {
    height: 250px;
    padding-top: 100px;
    background-image: url("/static/images/top-circle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -50px;
    background-size: cover;
}

.page-container-2, .question-section {
    height: 649px;
}

.question-container {
    position: relative;
    margin: 0px 50px 50px 50px;
    height: 350px;
    top: 50px;
}

.blue-box {
    border-radius: 10px;
    background-color: #55E4ED;
}

.answer {
    position: relative;
    top: 10px;
}

.special {
    position: relative;
    left: -60px;
}

.bot-wrapper {
    color:#EAF5F5;
    height: 240px;
    position: relative;
    bottom: -10px;
    background-image: url("/static/images/bot-circle.svg");
    background-position: center;
    background-position-y: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.schedule {
    padding-top: 50px;
}

.create {
    padding-top: 100px;
}

.create-button {
    padding-top: 60px;
}

@media only screen and (max-width: 768px) {
    .landing-section h2 {
        width: 100%;
    }

    .page-container-1 {
        width: 100%;
    }

    .side-image {
        width: 50%;
    }

    .about-container {
        flex-direction: column;
    }

    .img-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .img-alwan {
        border-radius: 50%;
        height: 250px;

    }

    .desc-container {
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
    }

    .content-container {
        justify-content: center;
    }

    .ui-wrapper {
        padding: 10px
    }

    .sma-wrapper {
        padding: 10px
    }

    #logo-ui {
        height: 100px;
    }

    #logo-sman-68 {
        height: 100px;
    }

    .desc-ui {
        font-size: 20px;
    }

    .desc-sma {
        font-size: 20px;
    }

    .skill-set {
        flex-direction: column;
    }

    .logo-container {
        margin-bottom: 100px;
    }

    .social-container img {
        height: 50px;
        margin: 10px;
    }

    #question-3 {
        padding-left: 100px;
    }

    #question-4 {
        padding-left: 100px;
    }

    #question-1 h2{
        font-size: 4vw;
    }

    #question-1 h4 {
        font-size: 4vw;
    }
    
    #question-2 h2{
        font-size: 4vw;
    }

    #question-3 h2{
        font-size: 4vw;
    }

    #question-4 h2{
        font-size: 4vw;
    }

    #question-2 h4 {
        font-size: 4vw;
    }

    #question-3 h4 {
        font-size: 4vw;
    }
}