{% extends 'base.html' %}

{% block title %} Create Schedule {% endblock %}

{% block content %}

    <div class="create-container">
        <form action="{% url 'schedule:create' %}" method = "post" class = "create">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value = "Create">
        </form>
    </div>

{% endblock %}