{% extends 'base.html' %}

{% block title %} My Schedule {% endblock %}

{% block content %}

    <div class="schedule-container">
        {% for schedule in schedules %}
            <div class="schedule">
                <h2> {{ schedule.activity_name }} </h2>
                <h4> {{ schedule.place }} , {{ schedule.day }}, {{ schedule.date }}, {{ schedule.hour }} </h3>
                <p>
                    {{ schedule.category }}
                </p>

                <a href="{% url 'schedule:delete' id=schedule.id %}"  >
                    <input type="button" value="Delete Schedule">
                </a>
            </div>
        {% endfor %}

        <div class="create-button">
            <a href="{% url 'schedule:create' %}">
                <input type="submit" formaction="{% url 'schedule:create' %}" value = "Create New Schedule">
            </a>
        </div>
    </div>

{% endblock %}